name: Dev-CodeCheck

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        cd app-container
        make install

    - name: Run check
      run: |
        cd app-container  
        make lint

    - name: Run format
      run: |
        cd app-container
        make format
    
    # - name: Run test
    #   run: |
    #     cd app-container
    #     make test
